
{% extends 'index.html' %}
{%load static%}

{% block slider %}
					
{% endblock slider %}
		{% block content %}

		<section id="content">

			<div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
				<div class="main">
					<div class="bg-2">
						<div class="content-padding-1">
							<div class="container_12">
								<div class="wrapper">
									<article class="grid_11">
										<div class="padding-grid-1">
											<div class="wrapper">
												<div class="extra-wrap">


											         
	<img src="{% static 'about_picture.jpg' %}" width = '100%'>
		<div align="justify"> <p align="justify">SKRIZHALI – для нас это больше чем слово или символ, это прежде всего песни. Нашими песнями мы пытаемся донести до каждого человека, до всех людей, что у них есть душа. В век прагматизма большинство живет привычками, замкнулись в себе, представляют из себя манекены – пустые оболочки из плоти.
Однако у всех нас, далеко в потаенном углу, живет настоящее «Я». Оно не ограничено «бытовухой», границами и правилами так называемой правильной жизни… Своим творчеством мы пытаемся найти гармонию, построить эмоциональную нить между реальностью и внутренним миром.</p>
<p>Наши SKRIZHALI – это простые, «вечные истины», пришедшие из глубины веков изложенные с помощью песен в особой форме.
SKRIZHALI - это связь между музыкой, словами и душой человека.</p>
<p>(в рамках истории)<br>
Первые музыкальные шажки группа сделала в 2002 году, когда появилась идея реализовать свои творческие замыслы в музыке. Стиль игры никем не определялся, просто было огромное желание играть и воплощать в жизнь свои задумки. В течении года команда сыгрывалась, копила материал и меняла названия, и вот в конце декабря 2003 состоялось первое публичное выступление на тогда еще местном Горецком фестивале “Рок-Каляды”.</p>

<p>В 2004 году группа записала свой первый демо-диск на белорусском языке под названием “Быццё у небыццi”.
На протяжение последующих лет состав группы несколько раз менялся и к 2005 году из первого остались Пан и DэN, которые и продолжали начатое дело. В 2004-05 гг. группа выступила в Минске в NewClub, Витебске в клубе “Сова” , учавствовала в «Битве под Оршей», местном клубе "Парнас" и других городах страны. В 2006 году вышел второй диск с русскими песнями, который получил название “АнАмалия”.</p>

<p>В 2007 году группа выступает последний раз на сцене в городе Горки.
 Но больших успехов достигла только в 2008 году, когда музыканты перебрались в Минск.
2008 год поистине можно считать годом рождения группы SKRIZHALI.</p>
 <p>Помимо регулярных выступлений, участия во всевозможных фестивалях и конкурсах, в 2011 -2012 годах SKRIZHALI записали ряд песен на профессиональных студиях, которые ротируются на десятках региональных и столичных радиостанциях Беларуси, России и Украины.
 Вокалисты группы в разное время участвовали в проектах ( Грань, Зорны шлях, ,SurFace, Обратная сторона ремесла, D.E.N., OknoVmir, SARMATIKA, Войны Франклина). Вообщем долго маялись, но теперь SKRIZHALI (СКРЫЖАЛИ) в Минске. История бурная, а самое главное не законченная, а значит все только начинается. :-)</p><br>
<p>P.S. Стиль группы трудно определить, в общем, лучше самому услышать и определить для себя.</p> </div>
	

												</div>
											</div>
										</div>
									</article>	
							</div>
						</div>
					</div>
				</div>
				<div class="block"></div>
			</section>
		</div>

		
		{% endblock %}