{%load static%}
<!DOCTYPE html>
<html lang="en">
	<head>

	<!-- {% static "my_app/example.jpg" %} -->
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 		<link rel="stylesheet" href="{% static 'albums/css/reset.css' %}" type="text/css" media="screen">
		<link rel="stylesheet" href="{% static 'albums/css/style.css' %}" type="text/css" media="screen">
		<link rel="stylesheet" href="{% static 'albums/css/grid.css' %}" type="text/css" media="screen">
		<link rel="stylesheet" href="{% static 'albums/css/prettyPhoto.css' %}" type="text/css" media="screen">   
		<script src="{% static 'albums/js/jquery-1.6.3.min.js' %}" type="text/javascript"></script>
		<!--<script src="{% static 'albums/js/cufon-yui.js' %}" type="text/javascript"></script> -->
		<script src="{% static 'albums/js/cufon-replace.js' %}" type="text/javascript"></script>
		<script src="{% static 'albums/js/Vegur_700.font.js' %}" type="text/javascript"></script>
		<script src="{% static 'albums/js/Vegur_400.font.js' %}" type="text/javascript"></script> 
		<script src="{% static 'albums/js/FF-cash.js' %}" type="text/javascript"></script> 
		<script src="{% static 'albums/js/script.js' %}" type="text/javascript"></script>
		<script type="text/javascript" src="{% static 'albums/js/easyTooltip.js' %}"></script>
		<script src="{% static 'albums/js/jquery.easing.1.3.js' %}" type="text/javascript"></script>
		<script src="{% static 'albums/js/hover-image.js' %}" type="text/javascript"></script>
		<script src="{% static 'albums/js/jquery.prettyPhoto.js' %}" type="text/javascript"></script>
		<script src="{% static 'albums/js/jquery.easing.1.3.js' %}" type="text/javascript"></script>
		<script type="text/javascript" src="{% static 'albums/js/tms-0.3.js' %}"></script>
		<script type="text/javascript" src="{% static 'albums/js/tms_presets.js' %}"></script>

		<script type="text/javascript" src="{% static 'albums/highslide/highslide/highslide.js' %}"></script>
			<link rel="stylesheet" type="text/css" href="{% static 'albums/highslide/highslide/highslide.css' %}" />
		<script type="text/javascript">
		    // override Highslide settings here
		    // instead of editing the highslide.js file
		    hs.graphicsDir = "{% static 'albums/highslide/highslide/graphics/' %}";
		</script>

		<script type="text/javascript">

				
			$(window).load(function(){
				$('.slider')._TMS({
					duration:800,
					easing:'easeOutQuad',
					preset:'diagonalFade',
					pagination:false,
					slideshow:6000,
					banners:false,
					waitBannerAnimation:false,
					pauseOnHover:true
				});
				$("a[data-gal^='prettyVideo']").prettyPhoto({animation_speed:'normal',theme:'facebook',slideshow:false, autoplay_slideshow: false});
			}); 
		</script>
		<style>
   			a.header { 
   				text-decoration: none; /* Отменяем подчеркивание у ссылки */
  				 } 
  		</style>		
		<!--[if lt IE 7]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script type="text/javascript" src="js/html5.js"></script>
			<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
		<![endif]-->
		<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

<script type="text/javascript">
  VK.init({apiId: 5801320, onlyWidgets: true});
</script>
	</head>
	<body id="page1">
		<div class="extra">
<!--==============================header=================================-->
			<header>
				<div class="main">
					<div class="bg-1">
						<h1><a href="/"></a></h1>
					</div>
					<nav>
						<div class="menu-bg-tail">
							<div class="menu-bg">
								<div class="container_12">
									<div class="grid_12">
										<ul class="menu">
										{% block menu %}
											<li class="item"><a href="{% url 'about' %}">О нас</a></li>
											<li ><a href="{% url 'albums' %}">Альбомы</a></li>
											<li><a href="{% url 'videos' %}">Видео</a></li>
											<li><a href="{% url 'photo_albums' %}">Фото</a></li>
											<li class="item-1"><a href="tour-dates.html">Концерты</a></li>
											<li class="last"><a href="contacts.html">Контакты</a></li>
										{% endblock menu %}
										</ul>
										<div class="clear"></div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</nav>
					{% block slider %}
					<div class="slider-wrapper">
						<div class="slider">
							<ul class="items">
								<li><img src="{% static 'albums/images/slider-img1.jpg' %}" alt="" /></li>
								<li>
									<img src="{% static 'albums/images/slider-img2.jpg' %}" alt="" />
								</li>
								<li>
									<img src="{% static 'albums/images/slider-img3.jpg' %}" alt="" />
								</li>
							</ul> 
						</div>
					</div>
					{% endblock slider %}
				</div>
			</header>
<!--==============================content================================-->
{% block content %}
			<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
				<div class="main">
					<div class="bg-2">
						<div class="content-padding-1">
							<div class="container_12">
								<div class="wrapper">
								{% block news %}
									{% for news in news_list%}
									<article class="grid_6">
										<div class="padding-grid-1">
											<h3 class="letter">
											<a href="{% url 'news_detail' pk=news.pk %}" class=header>{{ news.header }}</a>
											</h3>
											<div class="wrapper img-indent-bot1">
												<div class="extra-wrap">
													<div class="indent-top">
														{{ news.content|truncatewords:30 }}
														<a href="{% url 'news_detail' pk=news.pk %}">Читать далее...</a>
														<br>
														<br>
														Дата: {{ news.created_date }}

													</div>
												</div>
											</div>
											
										</div>
									</article>	
									{% endfor %}																	
								{% endblock news %}
								</div>
							</div>
						</div>
					</div>
					<div class="content-padding-2">
						<div class="container_12">
							<div class="wrapper">
								<article class="grid_6">
									<div class="padding-grid-1">
										<h3>Ближайшие <strong>концерты</strong></h3>
										<div class="wrapper img-indent-bot1">
											<div class="extra-wrap">
												<div class="indent-top">			</div>
											</div>
										</div>
										<div class="wrapper">
											<time class="time time-stule-3" datetime="2011-11-03"> <strong class="text-5">01</strong><strong class="text-6">ЯНВ</strong></time>
											<div class="extra-wrap">
												<div class="indent-top">
													<h2>Минск Арена</h2>		
												</div>
											</div>
										</div>
									</div>
								</article>
								<article class="grid_6 alpha">
									<div class="padding-grid-2">
										<h3 class="letter"> Скачать<strong>последний альбом</strong></h3>
										<a href='albums/4/'><img src="{% static '8na_t-9TekA.jpg'%}" width='100px'></a>
										<h2>Название альбома: Время</h2>
										<h2>Год релиза: 2016</h2>
																				
									</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="block"></div>
			</section>
		</div>
		{% endblock content%}

<!--==============================footer=================================-->
		<footer>
			<div class="main">
				<div class="footer-bg">
					<div class="container_12">
						<div class="wrapper">
							<div class="grid_12">
								<div class="footer-padding">
									<div class="wrapper">
										<span class="footer-link"><span>www.skrizhali.by &copy; 2016</span> </span>
										<ul class="list-services">
											<li><a class="tooltips n-1" title="VK" href="www.vk.com/skrizhali" target="_blank"></a></li>
											<li><a class="tooltips n-2" title="Facebook" href="https://www.facebook.com/Skrizhali/" target="_blank"></a></li>
											<li class="last"><a class="tooltips n-3" title="Youtube" href="https://www.youtube.com/channel/UCeqZluVllbwyuN35hLDS1uQ" target="_blank"></a></li>
										</ul>
									</div>
									<div class="aligncenter">
										<!-- {%FOOTER_LINK} -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript"> Cufon.now(); </script>
	</body>
</html>
