{% extends 'index.html' %}
{%load static%}
{% block title %}
		<title>Skrizhali - Видео</title>
	{% endblock title%}
{% block slider %}
					
{% endblock slider %}
		{% block content %}
	<section id="content">

			<div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
				<div class="main">
					<div class="bg-2">
						<div class="content-padding-1">
							<div class="container_12">
								<div class="wrapper">
									{% for video in video_list%}
									<article class="grid_6">
										<div class="padding-grid-1">
											<div class="wrapper">
												<div class="extra-wrap" margin-top='20px'>

													<h4 class="indent-top"><a href="{% url 'video_detail' pk=video.pk %}">{{ video.name }}</a></h4>
											         <iframe width="448" height="261" src="https://www.youtube.com/embed/{{video.link}}" frameborder="0" allowfullscreen></iframe>


													Дата загрузки: <h4 class="indent-top"><a href="#">{{video.date}}</a></h4>
													Описание: {{video.description}}
													<br>
													<br>
													<br>


												</div>
											</div>
										</div>
									</article>	
									{% endfor%}
							</div>
						</div>
					</div>
				</div>
				<div class="block"></div>
			</section>
		</div>
		{% endblock %}